.albumPane{
    margin: 20px 0 30px 232px;
}

.albumImage{
    float: left;
    width: 100%;
    max-width: 200px;
    margin:10px;
}

.albumImage img{
    width:200px;
}

.albumDetails{
    margin: 10px 10px 10px 35px;
    padding-left:10px;
}

.albumDetails .row{
    margin:15px 0px 0px 15px ;
}

.albumDetails .row:nth-child(2), .albumDetails .row:nth-child(3) {
    color: #939393;
    font-weight: 200;
}


.tracklist {
    padding: 0;
    overflow: auto;
    margin-bottom: 92px;
}

.tracklistContainer{
    margin-left:60px;
}

.tracklistRow {
    height: 70px;
    padding: 15px 10px;
    width:90%;
    list-style: none;
    border-bottom: white 0.5px solid;
}

.tracklistRow:nth-last-child(1){
    border-bottom: none;
}

.tracklistRow span {
    color: #939393;
    font-weight: 200;
}

.tracklistRow:hover {
    background-color: #282828;
}

.tracklistRow .trackCount {
    width: 8%;
    margin-left: 20px;
    float: left;
}

.tracklistRow .trackCount img {
    width: 20px;
    visibility: hidden;
    position: absolute;
    cursor: pointer;
}

.tracklistRow:hover .trackCount img {
    visibility: visible;
}

.tracklistRow .trackCount span {
    visibility: visible;
}

.tracklistRow:hover .trackCount span {
    visibility: hidden;
}

.tracklistRow .trackInfo {
    width: 50%;
    float: left;
}

.tracklistRow .trackInfo span {
    display: block;
}

.tracklistRow .trackOptions {
    width: 5%;
    float: left;
    text-align: right;
}

.tracklistRow .trackOptions img {
    width: 15px;
    visibility: hidden;
}

.tracklistRow:hover .trackOptions img {
    visibility: visible;
}

.tracklistRow .trackDuration {
    width: 12%;
    height: 20px;
    float: right;
}

.tracklistRow .trackInfo .trackName {
    color: #fff;
    margin-bottom: 7px;
}

